<div class="poetry-page" xmlns="http://www.w3.org/1999/html">
  <div class="poem-grid">

    <div class="poem-card">
      <h2>Midnight Quest</h2>

      <p class="lines">
        Rising time ,light is the test<br/>
        organizing evening without a fight<br/>
        Midnight quest, midnight quest<br/>
        Improvising with your ability<br/>
        Recognizing every day matters<br/>
        night time or daytime<br/>
        All will harmonize for equality<br/>
        Lights fill each day with hope<br/>
        Midnight quest makes a way for patience<br/>
        Sight of everyday filled with vibrant hues<br/>
        Night time love I thought I'd never find<br/>
        It feels so right to be beside you<br/>
        When I close my eyes and awoke I saw you<br/>
        Midnight quest rising time is the test<br/>
        Light is the way of hope<br/>
        Midnight quest,
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>HARVEST MOON</h2>

      <p class="lines">
        THE SUN IS SHINING BRIGHT<br/>
        IT'S EARLY AFTERNOON<br/>
        YOU ARE A BEAUTIFUL DELIGHT<br/>
        <br/>
        SITTING ON MY FRONT PORCH<br/>
        I'M LOOKING UP AT THE SKY<br/>
        IT'S CLEARLY A SIGN<br/>
        A RAINBOW MOVING TOWARDS THE<br/>
        HARVEST MOON<br/>
        <br/>
        THE SUN IS SHINING<br/>
        IT'S EARLY AFTERNOON<br/>
        YOU ARE A BEAUTIFUL DELIGHT<br/>
        <br/>
        YOUR SOUL IS SHINING<br/>
        FROM YOU TO ME<br/>
        HARVEST MOON, HARVEST MOON<br/>
        <br/>
        PEACE I FEEL AT LAST<br/>
        FUTURE NOT PAST<br/>
        FORGIVE NOT FORGET<br/>
        LOVE NOT HATE<br/>
        <br/>
        IT'S CLEARLY A SIGN<br/>
        OUR UNIVERSE MADE THIS DESIGN<br/>
        YOUR SOUL SHINES<br/>
        LIKE THE HARVEST MOON<br/>
        <br/>
        THE SUN IS SHINING<br/>
        IT'S EARLY AFTERNOON<br/>
        YOU ARE A BEAUTIFUL DELIGHT<br/>
        <br/>
        YOUR SOUL IS SO FAR AWAY<br/>
        ON MY MIND, IN MY HEART<br/>
        YOU SHINE LIKE THE<br/>
        HARVEST MOON
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Cloudy Day</h2>

      <p class="lines">
        A poem is an evening<br/>
        When dark falls<br/>
        The evening meal is served<br/>
        Packed with emotions<br/>
        Dessert is the ending<br/>
        Feelings of warmth<br/>
        Feelings of friendships<br/>
        A poem is words<br/>
        From the heart<br/>
        It conveys<br/>
        A beautiful start<br/>
        A poem is an evening
      </p>

      <span>— Cheryl Warner</span>
    </div>


    <div class="poem-card">
      <h2>BITTERSWEET MOON</h2>

      <p class="lines">
        I'M STANDING ON THE SHORE<br/>
        FROM A DISTANCE<br/>
        I CAN SEE THE HARBOUR LIGHT<br/>
        RAIN POURING DOWN<br/>
        RAIN, RAIN<br/>
        <br/>
        DARKNESS ALL AROUND<br/>
        I CAN SEE, THE BITTERSWEET MOON<br/>
        ALONG THE SHORE<br/>
        MY TOES GLIDE IN THE TIDE<br/>
        <br/>
        SEASHELLS SWEPT IN<br/>
        I CAN FEEL THE WARMTH OF YOUR SOUL<br/>
        YOU CHANGED MY LIFE<br/>
        BITTERSWEET MOON<br/>
        <br/>
        RUNNING ALONG THE SHORE<br/>
        RAIN COMING, RAIN<br/>
        YOU AND I STARING AT THE<br/>
        <br/>
        BITTERSWEET MOON<br/>
        NO MORE EMPTY SPACES<br/>
        <br/>
        BITTERSWEET MOON<br/>
        BITTERSWEET MOON<br/>
        RAIN POURING DOWN<br/>
        RAIN, RAIN<br/>
        <br/>
        HOLDING YOUR HAND<br/>
        YOU AND I<br/>
        RUNNING IN THE SAND<br/>
        UNDER THE BITTERSWEET MOON<br/>
        <br/>
        BITTERSWEET MOON<br/>
        BITTERSWEET MOON<br/>
        BITTERSWEET MOON<br/>
        BITTERSWEET MOON<br/>
        <br/>
        BY THE FIRE<br/>
        YOU AND I<br/>
        UNDERNEATH THE<br/>
        BITTERSWEET MOON<br/>
        GLIDING OUR TOES IN THE TIDE<br/>
        BITTERSWEET MOON
      </p>

      <span>— Cheryl Warner</span>
    </div>


  </div>
</div>
