
<div class="back">
<div class="column">
  <div class="card">
    <img src="/profilePic.png" alt="Cheryl" style="width:100%">
    <div class="container">
      <h2>Cheryl Warner</h2>
      <p class="title">Poet, Writer, Hair Dresser, Amazing Mom</p>
      <p>Prolific poet and author based in Alabama, known for her accessible, emotional verses on platforms like Hello Poetry.
        Her work often explores themes of faith, love, and nature, with notable poems including "Bittersweet Moon,"
        "Path of Clouds," and "Angels I Hear You." <br/>
        She loves all animals, especially her dog bell and red eared slider turtle Myrtle.</p>
    </div>
  </div>
 <!-- <button class="buy-button">Buy her a coffee or some pens</button>  ADD THIS AFTER WEBSITE DEPLOYMENT-->

</div>
</div>

