<div class="poetry-page" xmlns="http://www.w3.org/1999/html">
  <div class="poem-grid">

    <div class="poem-card">
      <h2>STRONGER NOW</h2>

      <p class="lines">
        So many days  I've  waited for you<br/>
        Still no answers to this puzzle<br/>
        Why the silence?<br/>
        <br/>
        I went through a war<br/>
        Each day I awake<br/>
        wishing to communicate<br/>
        I'm turning to the stars<br/>
        <br/>
        I'm stronger now<br/>
        I'm stronger now<br/>
        I'm stronger now<br/>
        <br/>
        This has been going on too long<br/>
        It's time to write my song<br/>
        I am stronger now<br/>
        <br/>
        Stronger now<br/>
        Stronger now<br/>
        Stronger now<br/>
        It's time to write my song<br/>
        <br/>
        Why the silence?<br/>
        You left me no reasons<br/>
        I'm still missing you in every season<br/>
        I am stronger now<br/>
        <br/>
        Stronger now<br/>
        Stronger now<br/>
        Stronger now<br/>
        <br/>
        It's time to write my song<br/>
        This has been going on to long<br/>
        I am stronger now<br/>
        Stronger now
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Free Will</h2>

      <p class="lines">
        Have you ever stood still?<br/>
        Are you living on your free will?<br/>
        Open your heart<br/>
        Open your mind<br/>
        <br/>
        I believe in you<br/>
        this time I will start each day<br/>
        with hope<br/>
        <br/>
        Have you ever stood still?<br/>
        Are you living on your own free will?<br/>
        <br/>
        free will<br/>
        free will<br/>
        <br/>
        No more standing still<br/>
        Open your heart<br/>
        Open your mind<br/>
        <br/>
        Free will<br/>
        Free will<br/>
        Free will<br/>
        Free will<br/>
        <br/>
        Today is the day<br/>
        look inside yourself<br/>
        you can be free<br/>
        <br/>
        I see<br/>
        I see<br/>
        I see<br/>
        I see<br/>
        <br/>
        Are you living on your own free will?<br/>
        Have you ever stood still?<br/>
        Free will
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Today is better than yesterday</h2>

      <p class="lines">
        You need to take care of you<br/>
        No one else will<br/>
        Inside and out<br/>
        Your body and soul needs care<br/>
        It doesn’t matter about the hair<br/>
        Or what you wear<br/>
        Neat and clean<br/>
        Chin up<br/>
        <br/>
        Today is better than yesterday,,,,
      </p>

      <span>— Cheryl Warner</span>
    </div>


    <div class="poem-card">
      <h2>Find your inner self</h2>

      <p class="lines">
        Looking high, looking low<br/>
        Find your inner self<br/>
        Deep inside your soul<br/>
        Is you<br/>
        Find your inner self<br/>
        Kindness will take you<br/>
        Very far<br/>
        Find your inner peace
      </p>

      <span>— Cheryl Warner</span>
    </div>


  </div>
</div>
