<div class="poetry-page" xmlns="http://www.w3.org/1999/html">
  <div class="poem-grid">

    <div class="poem-card">
      <h2>Love what you do</h2>

      <p class="lines">
        Happiness is loving what you do<br/>
        Don’t listen to negativity<br/>
        Spread your wings and fly high<br/>
        Read into the night<br/>
        Don’t lose sight<br/>
        Happiness is contagious<br/>
        Love what you do
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Skies are blue</h2>

      <p class="lines">
        Gentle air I feel on my hair<br/>
        Slightly calm, comfortable breeze<br/>
        I listen I can’t hear a sound<br/>
        I’m soaking it all in<br/>
        Skies are blue<br/>
        Where are you?
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>TODAY</h2>

      <p class="lines">
        Today is a new day<br/>
        don't let anything<br/>
        get in your way<br/>
        Don't be afraid<br/>
        to have something to say<br/>
        <br/>
        Today is a new day<br/>
        don't delay<br/>
        <br/>
        Today is a sun of ray<br/>
        everyday display your strength<br/>
        Don't listen to the naysay<br/>
        Today is a new day<br/>
        stay the course today
      </p>

      <span>— Cheryl Warner</span>
    </div>


    <div class="poem-card">
      <h2>Smile for the good times</h2>

      <p class="lines">
        Looking back  wondering<br/>
        Why we never met again<br/>
        Across oceans, across mountains<br/>
        <br/>
        Do you wonder too?<br/>
        <br/>
        I’m staying true to myself<br/>
        Where ever you are.<br/>
        I want you to know<br/>
        Your in my mind<br/>
        <br/>
        Looking back, wondering<br/>
        Looking back , wondering<br/>
        Do you wonder too ?<br/>
        <br/>
        I’ve been waiting for news<br/>
        About you<br/>
        You will always be in my heart<br/>
        No matter what<br/>
        <br/>
        Years gone by<br/>
        Tears fall down<br/>
        Years gone<br/>
        <br/>
        A thousand miles apart<br/>
        Not one word<br/>
        It tears me up, it tears me up<br/>
        I don’t know why you vanished<br/>
        A thousand unanswered questions<br/>
        Running through my mind<br/>
        <br/>
        I will smile at the good times<br/>
        Friendship and laughter<br/>
        A thousand miles apart<br/>
        A thousand miles apart<br/>
        <br/>
        Looking back, looking back<br/>
        Years gone by<br/>
        Thinking of the good times<br/>
        Friendship and laughter<br/>
        I will smile for the good times<br/>
        Love ya,,,,,,,
      </p>

      <span>— Cheryl Warner</span>
    </div>
  </div>
</div>
