<div class="poetry-page" xmlns="http://www.w3.org/1999/html">
  <div class="poem-grid">

    <div class="poem-card">
      <h2>Country roads</h2>

      <p class="lines">
        Pink swans<br/>
        Country roads<br/>
        Isolated and peaceful<br/>
        No one around<br/>
        Quiet most of the time<br/>
        Thinking to myself<br/>
        Taking in the fresh air<br/>
        On this spring day<br/>
        In the south
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>COLORS OF SUMMER</h2>

      <p class="lines">
        Can you feel the afternoon heat?<br/>
        I  want to love you all day<br/>
        We don't  have to say anything  today<br/>
        In the colors of summer<br/>
        <br/>
        Live, love ,everyday<br/>
        I want to love you all day<br/>
        I can give you my all today<br/>
        <br/>
        Afternoon heat, afternoon heat<br/>
        Can we meet?<br/>
        I want to love you all day<br/>
        We don't have to say anything today<br/>
        <br/>
        In the colors of summer<br/>
        your on mind<br/>
        It was fate that found us<br/>
        <br/>
        Can you feel the afternoon heat?<br/>
        I want to love you all day<br/>
        every day, forever<br/>
        <br/>
        I want to love you  forever<br/>
        yet so far away<br/>
        <br/>
        Can you feel the afternoon heat?<br/>
        Can you feel the afternoon heat?<br/>
        Can you feel the afternoon heat?<br/>
        <br/>
        I want to love you all day<br/>
        we don't have to say anything today<br/>
        in the colors of summer
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>HUMMINGBIRD
      </h2>

      <p class="lines">
        BIRDS TALKING<br/>
        I'LL GO WALKING<br/>
        NATURE AT IT'S FINEST<br/>
        I SEE THE TINIEST CREATURES<br/>
        SOME WANT ATTENTION<br/>
        I CAN FEEL THE FRESH AIR<br/>
        BIRDS TALKING<br/>
        SOME SINGING<br/>
        AS I GO WALKING<br/>
        BIRDS FLYING TO THE FEEDER<br/>
        I CAN HEAR A HUMMINGBIRD<br/>
        NATURE AT IT'S FINEST<br/>
        BIRDS TALKING
      </p>

      <span>— Cheryl Warner</span>
    </div>


    <div class="poem-card">
      <h2>EVERY SEASON</h2>

      <p class="lines">
        Everywhere I see leaves falling down on me<br/>
        I see beauty of autumns arrival<br/>
        There is beautiful fresh air, tears of joy<br/>
        Autumn heat is sweet<br/>
        Overflow of green grass reveals beauty<br/>
        pure is the heart twisted with oblivion<br/>
        lounge around corresponds with quiet times<br/>
        Pair of hummingbirds fly high<br/>
        begin to remember fun in the sun<br/>
        pertain emotions to harvest time<br/>
        Gaze into the early morning sun<br/>
        distance will make the  heart grow fonder<br/>
        Measure your intellect skills<br/>
        Treasure every moment, every day<br/>
        Refrain from craziness in society<br/>
        Everywhere I go, I see leaves<br/>
        falling down on me<br/>
        Bizarre days ahead<br/>
        Enter with extreme clarity<br/>
        every season,,,,,,,,,,,,,,,,,,,,,,
      </p>

      <span>— Cheryl Warner</span>
    </div>


  </div>
</div>
