<div class="poetry-page" xmlns="http://www.w3.org/1999/html">
  <div class="poem-grid">

    <div class="poem-card">
      <h2>RAINBOW OF LOVE</h2>

      <p class="lines">
        I KNOW I WAS NEVER ALONE<br/>
        YOU SENT THE ANGELS DOWN<br/>
        NOW I SEE, NOW I SEE<br/>
        <br/>
        YOU GAVE ME HOPE<br/>
        I LIVE IN A NEW TOWN<br/>
        I KNOW I WAS NEVER ALONE<br/>
        <br/>
        ALL OF THESE ANGELS SAVED ME<br/>
        YOUR POWER WITHIN THE SKY<br/>
        SENT A RAINBOW OF LOVE<br/>
        I KNOW YOU ARE UP ABOVE<br/>
        YOUR LOVE,YOUR LOVE<br/>
        <br/>
        LOVING YOU IS EASY<br/>
        I KNOW YOUR  BUSY<br/>
        I WAS NEVER ALONE<br/>
        <br/>
        YOUR POWER WITHIN THE SKY<br/>
        SENT A RAINBOW OF LOVE<br/>
        RAINBOW OF LOVE<br/>
        RAINBOW OF LOVE<br/>
        <br/>
        I WAS LIVING ALONE IN ISOLATION<br/>
        AND SILENCE<br/>
        I DIDN'T KNOW HOW TO BREAK FREE<br/>
        <br/>
        RAINBOW OF LOVE<br/>
        RAINBOW OF LOVE<br/>
        I DIDN'T KNOW HOW TO BREAK FREE<br/>
        I KNOW YOU WANT ME TO SEE<br/>
        <br/>
        DON'T EVER GIVE UP HOPE<br/>
        ANGELS COME FROM MYSTERIOUS PLACES<br/>
        ONLY GOD KNOWS, HE SENT ME<br/>
        A RAINBOW OF LOVE<br/>
        <br/>
        OH YEAH<br/>
        OH YEAH<br/>
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Love like no tomorrow</h2>

      <p class="lines">
        Wish like forever<br/>
        Think like never ending<br/>
        Love shouldn’t be sorrow<br/>
        Hold out your hand<br/>
        Take it before<br/>
        Everlasting<br/>
        Wish like before<br/>
        Live not in sadness<br/>
        Wish like forever<br/>
        Don’t  let it be madness<br/>
        Give yourself a chance<br/>
        Maybe you can dance<br/>
        In happiness<br/>
        Love like no tomorrow
      </p>

      <span>— Cheryl Warner</span>
    </div>

    <div class="poem-card">
      <h2>Life</h2>

      <p class="lines">
        Enjoying life a day at a time<br/>
        Moving on with life<br />
        Sometimes life is hard to find<br/>
        This moments is everything<br/>
        I love you to know<br/>
        Tell me, tell me<br/>
        Do you love me..?<br/>
        baby  baby I love you<br/>
        Enjoying life one day at a time<br/>
        .
      </p>

      <span>— Cheryl Warner</span>
    </div>


    <div class="poem-card">
      <h2>Give me your heart</h2>

      <p class="lines">
        Give me your heart<br/>
        And I’ll give you mine<br/>
        Give me your heart<br/>
        And I can see<br/>
        Give me your heart<br/>
        And it will be me<br/>
      </p>

      <span>— Cheryl Warner</span>
    </div>


  </div>
</div>
